:root {
  --color: #5b93d6;
  --dark: #2e3942;
}
$color:#5b93d6;
$dark:#2e3942;
//@font-face {
//  font-family: head;
//  src: url(fonts/bpg-mrgvlovani-caps-webfont.woff) format('woff');
//}

.headers {
  font-family: head, Helvetica;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend .headers
  }
}

.quick-menu-container {
  @extend .headers;
}

.mce-notification, .mce-branding {
  display: none !important;
}


.cart-d{
  padding: 5rem 0;
  min-height: 50vh;
  &-title{
    color:var(--color);
    text-align: center;
    padding: 1rem 0;
    h2,h1,h3,h4{
      display: inline-flex;
    }
    .icon{
      line-height: 0rem;
      letter-spacing: 3rem;
      font-size: 5rem;
    }
  }
  &-table{
    display: flex;
    justify-content: center;
    table{
      border-collapse: collapse;
      width: 80%;
      thead td{
        text-align: center;
        font-weight: bolder;
      }
      td{
        padding: 1rem;
        border: 1px solid darken( $color , 20% );
        a img{
          width: 1rem;
          margin-left: 0.3rem;
        }
        &:last-child, &:first-child{
          text-align: center;
        }

      }
    }
  }
  .buy-btn{
    text-align: right;
    margin-right: 8rem;
    margin-top: 2rem;
    .whole_price{
      color:var(--color);
      text-shadow: 1px 1px 1px black;
    }
    .btn{
      font-size: 2rem;
      display: inline-flex;
      margin: 0 auto;
    }
  }
}


.add-course-wrapper {
  padding: 5rem;
  font-size: 1.2rem;
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .for-time, .price-money{
    margin-top: 20px;
    input{
      margin-top: 1rem;
    }
  }
  input[type=number]{
    background: #f8f8f8;
  }

  .choose_category {
    ul {

      height: 220px;
      [type=checkbox]:checked+label:before, [type=checkbox]:not(:checked)+label:before{
        top:2px;
      }
      [type=checkbox]:checked+label:after, [type=checkbox]:not(:checked)+label:after{
        top:5px;
      }
      }
    }

p {
  font-size: inherit;
  margin: 1rem 0;
}

img {
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 10px;
}

input {
  &[type='submit'] {
    background: #2e3942;
    color: white;
    cursor: pointer;
    margin: 1.4rem 0;
    border-radius: 3px;
  }
  &[type='file'] {
    z-index: -1;
    opacity: 0;
    position: absolute;
  }
  &[type='text'] {
    border: 1px solid #3a5670;
    border-radius: 3px;
    display: inline;
  }
}

select {
  background: rgb(248, 248, 248);
}

}

.add-course- {
  &image {
    margin-bottom: 3rem;
  }
  &title {
    margin: 1.4rem 0;
  }
  &title p {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
  &description p {
    font-size: 1.2rem;
  }
}

.courses-wrapper {
  width: 100%;
  margin: auto;

  table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 2rem 0;

    tbody tr, tbody tr td {
      vertical-align: middle;
    }
    th, td {
      height: 40px;
      text-align: left;
      padding: 8px;
      border: 1px solid rgba(0, 0, 0, 0.16);
    }
    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 45ch;
      margin: 0;
      p {
        max-width: 95ch;
        margin: inherit;
      }
      a {
        min-width: 100%;
        margin: inherit;
      }
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }

    th {
      background-color: #526069;
      color: white;
    }
  }
  .courses-back {
    background-position: center;
    background-size: cover;
    width: 10%;
  }
}

/* popups */
.alert.alert-success {
  box-shadow: 0px 2px 6px -2px #000;
  text-shadow: 1px 1px 0px #0000006b, -1px -1px 0px white;
}

.derrors {
  z-index: 2000;
  position: absolute;
  left: 50%;
  top: -7%;
  width: 100%;
  transform: translate(-25%);
  cursor: pointer;
}

.course-topic-add {
  position: absolute;
  //top: -45px;
  bottom: -49px;
  right: -2px;
}

.my-courses-filter {
  font-size: x-large;
  display: inline-flex;
  li {
    padding: 10px;
    a {
      color: var(--dark);
    }
  }
}
[contenteditable=true]{
  background: rgba(0, 128, 0, 0.09);
}
.course-navigation {
  .topics_heading{
    font-weight: bolder;
  }
  form{
    input[type=submit]{
      position: relative;
      left:50%;
      transform:translate(-50%);
    }
  }
  input[type="text"] {
    background: #d9dee294;
    outline: #2e394238 solid 2px;
  }
  ol{
    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      span{
        position: absolute;
        top: 50%;
        right: 10px;
        transform:translateY(-40%);
        color: #880000;
        transition: all .2s ease-in-out;
        font-weight: bolder;
        &:hover{
          color:white;
        }
      }
    }
  }
}

#player-page {
  [data-dismiss], [data-toggle], [data-target], .pointer {
    cursor: pointer;
  }
  h1{
    input{
      display: inline-block;
      width: max-content;
    }
  }
  .mymodal {
    width: 70vw !important;
    margin: auto;
    margin-top: 10%;
    background: #f5f7ff;
    border-radius: 5px;
    .icon.study-error {
      $size: 1.6rem;
      vertical-align: -($size - 0.4rem);
      font-size: $size;
    }

    .edit,.paste,.remove{
      position: relative;
      img{
        position: relative;
        width:20px;
        z-index: 1;
      }
      &::after{
        z-index: 0;
        display: block;
        position: absolute;
        color: #2e394282;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-shadow: 1px 1px 0px white, 1px 1px 0px black;
      }
    }
    .edit::after{ content: 'edit';}
    .paste::after{ content: 'paste'}
    .remove::after{ content: 'remove';}
    p {
      margin: 0 auto;
    }
    .uploaded-list {
      background: rgba(28, 35, 46, 0.08);
      height: 53vh;
      width: 67vw;
      padding: 10px;
      box-shadow: inset 0px 0px 7px -3px #00000087;
      border-radius: 3px;
      counter-reset: items;

      h1 {
        margin: 1rem auto;
        text-align: center;

      }
      label {
        --color: #6292a5;
        border: 1px solid var(--color);
        padding: 0.6rem;
        border-radius: 5px;
        background-color: #fdfdff;
        color: var(--color);
        z-index: 1000;
        cursor: pointer;
        position: relative;
        &:before {
          content: 'mp4, mp3, pdf';
          position: absolute;
          display: block;;
          top: -30px;
          right: -60px;
          width: 10rem;
        }
      }
    }
    input {
      border: 1px solid #e4e6ee;
      display: inline-block;
      width: calc(100% / 4.5);
      margin-bottom: 0.5rem;
      &:nth-of-type(2) {
        width: calc(100% / 2.4);
      }
      &[type=file] {
        cursor: pointer;
        position: absolute;
        top: -500px;
        left: -500px;
      }
      &[type=text] {

      }

    }
  }
  .border-padding {
    padding: 10px 20px 10px 45px;
    border-bottom: 1px solid #0000000d;
  }
  .d_item {

    counter-increment: items;
    position: relative;
    font-weight: bold;
    &:before {
      background: #d9dee2;
      color: #2d3942;
      content: counter(items);
      height: 30px;
      left: 5px;
      line-height: 30px;
      position: absolute;
      text-align: center;
      top: 5px;
      width: 30px;
    }
  }
  .d_number {
    display: inline-block;
    background: #d9dee2;
    color: #2d3942;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    line-height: 30px;
    text-align: center;
  }
  table {
    width: 99%;
    td, th {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #62bad4;
      color: white;
    }
  }
}

/* overrides */
@media only screen and (min-width: 835px) {
  #player-page .player-page-wrapper {
    margin: 50px auto 50px;
    padding: 50px 20px;
  }
}

#player-page a.back-to-modules {
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (min-width: 1240px) {
  #player-page .player-holder {
    position: relative;
    width: 68%;
  }
}

footer.main {
  z-index: 1;
}

